{% extends 'base/base.html' %}

{% block content %}

<h1>inicio</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, saepe non ullam, vitae, omnis enim neque vel placeat eos quaerat nihil hic nobis nulla culpa harum dignissimos quo rerum fuga esse voluptate doloremque repellendus qui? Quisquam ipsa, ullam doloremque, accusantium incidunt consequuntur asperiores distinctio, delectus quae aspernatur consectetur. Reiciendis ut expedita voluptas nostrum earum facilis officiis neque saepe quia, pariatur quaerat iusto qui, rem praesentium, ea numquam libero consectetur hic perspiciatis architecto assumenda. Illo quod temporibus quidem animi accusantium. Quis illo numquam quas doloremque fugiat dolorem eum labore a vitae repellat, recusandae dolor ea consequatur, nulla inventore facere odio deserunt.</p>

{% endblock %}
